@media only screen and (min-width: 560px) {
    header, nav, main, footer {
        max-width: 70rem;
        margin: 0 auto;        
    }
    
    header img {
        width: 60px;
        height: auto;
    }

    .headings h2 {
        font-size: .8rem;
    }

    nav button {
        display: none;
    }

    nav ul.hide {
        display: block;
    }

    nav ul {
        margin-left: 2%;
    }

    nav ul li {
        float: left;
    }

    nav ul li a {
        border: none;
        border-right: 1px solid rgba(0,0,0,0.3);
        padding: .6rem;
    }

    /* ---------- main ---------- */

    /* ---------- main-towns-article ---------- */

    #display_here div {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    #display_here div:nth-child(1) section {
        grid-column: 1;
    }
    
    #display_here div:nth-child(1) figure {
        grid-column: 2;
    }

    #display_here div:nth-child(2) section {
        grid-column: 2;
        grid-row: 2;
    }
    
    #display_here div:nth-child(2) figure {
        grid-column: 1;
        grid-row: 2;
    }

    /* ---------- end-main-towns-article ---------- */

    /* ---------- main-gallery ---------- */

    .grid-gallery {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 1rem;
    }

    figure.pic-wrapper {
        box-shadow: 0 0 .7px;
    }

    /* ---------- main-gallery-end ---------- */

    div.theparent {    
        position: relative;
    }

    div.thechild {
        position: absolute;
        top: 20px;
        left: 20px;
        background-color: rgb(0 114 12 / 48%);
        padding: 0 1rem;
        color: rgba(255,255,255,0.8);
    }
    
    div.thechild ul {
        list-style-type: none;
        padding: 0;
    }

    section.forecast {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
    }

    section.forecast div {
        text-align: center;
        border: 1px solid #aaa;
    }

    section.forecast div h5 {
        background-color: #eee;
        margin: 0;
        padding: 1rem 0;
    }

    section.forecast div img {
        width: 53px;
        height: 50px;
        margin-top: 1rem;
    }

    /* img.camping {
        width: 300px;
    } */

    .contact-container {
        display: grid;
        grid-template-columns: 1fr 1fr 2fr;
        grid-row: auto;
    }

    .phone-email-container {
        margin-right: 1rem;
    }
}