header, main, footer {
  max-width: 760px;
  margin: 0 auto;
  padding: 1em;
}

header {  
  background-color: rgb(56, 11, 11);
  color: white;
  border-radius: 10px 10px 10px 10px;
}

img {
  box-shadow: 5px 5px 5px #999;
  background-color: #ffffff;
  float: right;
}

h1 {
  margin: 0;
  font-size: 50px;
  text-align: center;
}

/* ----------main--------- */

h2 {
  margin: 0;
  border-bottom: 2px solid rgb(146, 155, 165);
}

/* ----------footer--------- */

footer {
  background-color: rgb(56, 11, 11);
  color: white;
  border-radius: 10px 10px 10px 10px;
  font-size: 15px;
  text-align: center;
}

footer a {
  color: white;
}

footer p {
  line-height: 1.5em;
  margin: 0;
}
