header {
    display: grid;
    grid-template-columns: 1fr;
    grid-row: 60px;
    background-color: rgb(56, 11, 11);
    color: white;
    border-radius: 10px 10px 10px 10px;
    font-size: 20px;
}

h1 {
  margin-left: 3em;
}

#content {
  max-width: 760px;
  margin: 0 auto;
}

main {
  display: grid;
  grid-template-areas:
    "content profile";
}

img {
  grid-area: profile;
}

h2 {
  grid-area: content;
}