body {
  font-size: 12pt;
  font-family: Arial, Helvetica, sans-serif;
}

header, main, footer {
  max-width: 760px;
  margin: 0 auto;
  padding: 1em;  
}

header {  
  background-color: rgb(56, 11, 11);
  color: white;
  border-radius: 10px 10px 10px 10px;
}

img {
  box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 39%);
  background-color: #ffffff;
  float: right;
}

h1 {
  margin: 0;
  font-size: 3em;
  text-align: center;
}

/* ----------main--------- */

h2 {  
  border-bottom: 2px solid rgb(146, 155, 165);
  margin-bottom: 0;
}

ul {
  margin-top: .5em;
}

/* ----------footer--------- */

footer {
  background-color: rgb(56, 11, 11);
  color: white;
  border-radius: 10px 10px 10px 10px;
  text-align: center;
  line-height: 1.5em;
}

footer a {
  color: white;
}

#lu {
  color: rgb(252, 213, 115);
}
