@media only screen and (min-width: 560px) {
    header, nav, main, footer {
        max-width: 70rem;
        margin: 0 auto;        
    }
    
    header img {
        width: 60px;
        height: auto;
    }

    .headings h2 {
        font-size: .8rem;
    }

    nav button {
        display: none;
    }

    nav ul.hide {
        display: block;
    }

    nav ul {
        margin-left: 2%;
    }

    nav ul li {
        float: left;
    }

    nav ul li a {
        border: none;
        border-right: 1px solid rgba(0,0,0,0.3);
        padding: .6rem;
    }

    /* ---------- main ---------- */

    section.forecast {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
    }

    section.forecast div {
        text-align: center;
        border: 1px solid #aaa;
    }

    section.forecast div h5 {
        background-color: #eee;
        margin: 0;
        padding: 1rem 0;
    }

    section.forecast div img {
        width: 53px;
        height: 50px;
        margin-top: 1rem;
    }

    img.camping {
        float: right;
        margin: 0 0 1rem 1rem;
    }

    .contact-container {
        display: grid;
        grid-template-columns: 1fr 1fr 2fr;
        grid-row: auto;
    }

    .phone-email-container {
        margin-right: 1rem;
    }
}