header h1 {
    text-align: center;
}

div.cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 1rem;
}

div.cards section {
    text-align: center;
    background-color: antiquewhite;
}