header h1 {
    text-align: center;
}

div.cards {    
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 1rem;
}

div.cards section {
    text-align: center;
    background-color: antiquewhite;
    padding: 1rem;
}

div.cards section img {
    display: block;
    margin: auto;
}

footer {
    text-align: center;
    padding: 1rem;
}