@media only screen and (min-width: 1028px) {
    /* ---------- main-gallery ---------- */

    .grid-gallery {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }   

    figure.pic-wrapper:hover { 
        box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 39%);
    }

    /* ---------- end-main-towns-article ---------- */

    section#weatherforecast {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
    }
}